# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv_mmm_310/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Git
.git
.gitignore

# IDE
.vscode/
.cursor/

# OS
.DS_Store
Thumbs.db 